<div style="padding-top: 20px; padding-bottom: 20px">
  <footer class="bg-dark text-white text-center py-4">
    <div class="container">
      <p>&copy; 2024 Your Company Name. All Rights Reserved.</p>
      <ul class="list-unstyled list-inline">
        <li value="0" class="list-inline-item">
          <a href="#" class="text-white">{{ links[0] }}</a>
        </li>
        <li value="1" class="list-inline-item">
          <a href="#" class="text-white">{{ links[1] }}</a>
        </li>
        <li value="3" class="list-inline-item">
          <a href="#" class="text-white">{{ links[2] }}</a>
        </li>
        <br />
        <br />
        <li class="list-inline-item">
          <a href="#" class="text-red">{{ links[2] }}</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
